@media (max-width: 600px) {
  html {
    font-size: 50%;
  }

  .get-started {
    display: none;
  }
  .landing {
    flex-direction: column;
  }
  .left {
    width: 80%;
  }

  /*
  How does it work
  */
  .features-container {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    font-size: 3.75%;
  }
  .feature-card {
    text-align: center;
    margin: 3rem;
  }
  .features .work-container {
    flex-direction: column;
    gap: 3rem;
  }
  .features .work {
    text-align: center;
    line-height: 4rem;
  }
  .all-features {
    width: 14rem;
    font-weight: bold;
  }

  /*
  marketing
  */
  .marketing-container,
  .ticks {
    flex-direction: column;
    text-align: center;
  }
  .marketing-right {
    width: 100%;
    padding: 2rem;
    margin: auto;
  }
  .ticks {
    text-align: left;
  }
  .marketing-left {
    display: none;
  }

  /*
  events
  */
  .events-main {
    grid-template-columns: 1fr;
    justify-items: left;
    row-gap: 12rem;
  }
  .events-card {
    margin-left: 3rem;
  }

  /*
    cards
  */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 2rem;
  }
  .installation-card {
    padding: 2rem 3rem;
  }
}
